body{
  padding: 0px;
  margin: 0px;
  color: #7FFF00;
  background: linear-gradient(to bottom left, #080808 0%, #202020 0%);
  font-family: 'Life Savers', cursive;
  border-top: solid 2px red;
  }

a{
  color: #4f98ca;
}

#day{
  color: #66ff99;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-name{
color: #00fff0;
font-size: 25px;
}

.text-color{
  color: white;
}

.typewriter h4{
  overflow: hidden; 
  border-right: .15em; 
  white-space: nowrap; 
  margin-left: 10%;
  letter-spacing: .15em; 
  animation: typing 7s steps(40, end);

}


/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}
